.contenedor-botones{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.show{
    display: block;
}

.hidden{
    display: none;
}
.botones{
    padding: 8px;
    width: 200px;
}
